<div class="modal">
  <div class="modal-inner">
    <form>
      <legend>Enter account credentials</legend>
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="input.username"
        #usernameEl
        [disabled]="!canSubmit || auth.isSignedIn"
      >
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="input.password"
        #passwordEl
        [disabled]="!canSubmit || auth.isSignedIn"
      >
      <input
        type="password"
        name="passwordRetype"
        placeholder="Retype password"
        [(ngModel)]="input.passwordRetype"
        #passwordRetypeEl
        [disabled]="!canSubmit || auth.isSignedIn"
      >
      <p class="password-info">
        Password must include atleast one:<br>
        &nbsp;- lowercase alphabetical character<br>
        &nbsp;- uppercase alphabetical character<br>
        &nbsp;- numeric character<br>
        &nbsp;- special character (!@#$%^&*)<br>
        &nbsp;and be atleast 8 characters long.
      </p>
      <div class="bottom-bar">
        <button 
          (click)="onSubmit()" 
          [disabled]="!canSubmit || auth.isSignedIn"
        >
          Register
        </button>
        <button
          (click)="onCancel()"
          [disabled]="!canSubmit || auth.isSignedIn"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal-after">
    <p>Already have an account?</p>
    <a [routerLink]="['../signin']">Click here to sign in</a>
</div>