<div class="paginator">

  <div class="left" *ngIf="pagesBeforeScope">
    <div class="first">
      <fa-icon icon="angle-double-left"></fa-icon>
    </div>
  
    <div class="prev">
      <fa-icon icon="angle-left"></fa-icon>
    </div>
  </div>

  <div class="list">
    <div class="page" *ngFor="let n of scope" [ngClass]="{ current: n === current }">{{n}}</div>
  </div>

  <div class="right" *ngIf="pagesAfterScope">
    <div class="next">
      <fa-icon icon="angle-right"></fa-icon>
    </div>
  
    <div class="last">
      <fa-icon icon="angle-double-right"></fa-icon>
    </div>
  </div>

</div>
