@import "../../../../vars";
@import "../../../../mixins";

.paginator {
  display: flex;
  align-items: center;

  >.left, >.right {
    display: flex;
    align-items: center;
    @include shadow();

    >.prev, >.first, >.next, >.last {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      width: 27px;
      height: 27px;
      border-radius: 2px;

      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }

  >.right {
    margin-left: 16px;
  }

  >.left {
    margin-right: 16px;
  }

  >.list {
    display: flex;
    align-items: center;
    @include shadow();

    >.page {
      width: 36px;
      height: 27px;
      background: #fff;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      &:not(:last-child) {
        margin-right: 1px;
      }

      &.current {
        background: $cLightGray;
      }
    }
  }

}