/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Muli");
@import "./reset.scss";
@import "./mixins";
@import "./vars";

html {
  font-family: "Muli", sans-serif;
}

body {
  background: $cOffWhite;
  color: $cOffBlack;
}

input, button, select, option, legend {
	font-family: inherit;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  >input:not(:last-child) {
    margin-top: 4px;
  }

  >legend {
    margin-bottom: 20px;
  }

  >p {
    font-size: .7em;
  }

  >.bottom-bar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

input {
  font-size: .9em;
  padding: 4px 8px;
  border: 1px solid $cLightGray;
  border-radius: 2px;
}

button {
  border: 1px solid $cLightGray;
  background: none;
  border-radius: 2px;
  padding: 4px 8px;

  &:hover {
    border-color: $cDarkGray;
    cursor: pointer;
  }
}

.modal {
  background: #fff;
  padding: 8px 8px;
  border-radius: 2px;
  @include shadow();

  >.modal-inner {
    padding: 20px 14px;
    border-top: 1px solid $cLightGray;
    border-bottom: 1px solid $cLightGray;
  }
}

.modal-after {
  margin-top: 20px;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 400px) {

  .container {
    width: 320px;
  }

}