@import "../../../../mixins";
@import "../../../../vars";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  padding: 0 10px;

  pointer-events: none;
  z-index: 1000;

  >.toast {
    pointer-events: all;
    margin-bottom: 10px;
    background: #fff;
    padding: 6px 6px;
    border-radius: 2px;
    @include shadow();

    border: 1px solid $cInfo;

    &.warn {
      border-color: $cWarn;
    }

    &.error {
      border-color: $cError;
    }
  
    >.toast-inner {
      padding: 4px 8px;
      border-right: 1px solid $cInfo;
      border-left: 1px solid $cInfo;

      >fa-icon {
        color: $cInfo;
        margin-right: 8px;
      }

      &.warn {
        border-color: $cWarn;

        >fa-icon {
          color: $cWarn;
        }
      }

      &.error {
        border-color: $cError;

        >fa-icon {
          color: $cError;
        }
      }
    }
  }
}