<div class="wrapper">
  <div class="toast"
    [ngClass]="[toast.level]"
    *ngFor="let toast of stack"
    (click)="toast.close()"
    @anim
  >
    <div class="toast-inner"
      [ngClass]="[toast.level]"
    >
      <fa-icon 
        *ngIf="toast.level === 'info'"
        icon="info-circle"
      ></fa-icon>
      <fa-icon 
        *ngIf="toast.level === 'warn'" 
        icon="exclamation-circle"
      ></fa-icon>
      <fa-icon 
        *ngIf="toast.level === 'error'" 
        icon="exclamation-triangle"
      ></fa-icon>
      <span>{{toast.message}}</span>
    </div>
  </div>
</div>