@import "../../../mixins";

.header {
  height: 56px;
  padding: 0 23px;
  background: #fff;
  @include shadow();
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  >div:first-child {

    >.brand {
      text-decoration: none;
      color: inherit;

      >fa-icon {
        margin-right: 8px;
      }
    }

  }

  >div:last-child {

    button {
      margin-left: 16px;
    }
  }
}