<div class="header">
  <div>
    <a class="brand" routerLink="/">
      <fa-icon icon="file"></fa-icon>
      <span>FileCache</span>
    </a>
  </div>
  <div>
    <div *ngIf="signedIn; then signedInBlock; else notSignedInBlock"></div>

    <ng-template #signedInBlock>
      <span>
        {{username}}
      </span>
      <fa-icon icon="user"></fa-icon>
      <button class="btn" (click)="onClickSignOut()">Sign out</button>
    </ng-template>

    <ng-template #notSignedInBlock>
      <button (click)="onClickSignIn()">Sign in</button>
      <button (click)="onClickRegister()">Register</button>
    </ng-template>

  </div>
</div>