@import "../../../../vars";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >fa-icon {
    color: $cOffBlack;
  }

  >.message {
    margin-top: 16px;
    font-size: .9em;
  }
}