<div class="wrapper">

  <div *ngIf="!!files; else loaderBlock">

    <app-paginator [current]="page" [total]="pagesTotal"></app-paginator>

    <app-file-list [files]="files" (selectFile)="select($event)"></app-file-list>
    
    <app-paginator [current]="page" [total]="pagesTotal"></app-paginator>

  </div>

  <ng-template #loaderBlock>
    <app-loader size="3x" message="Loading files..."></app-loader>
  </ng-template>

</div>