<div class="wrapper" *ngIf="!!fileInfo; else bigLoaderBlock" [@fadeInOut]>

  <div class="file-view" *ngIf="!!file; else loaderBlock">
    <div [ngSwitch]="baseMimetype">

        <div *ngSwitchCase="'image'">
          <app-image-preview [blob]="file"></app-image-preview>
        </div>
        
        <div *ngSwitchDefault>
          File preview not available.
        </div>

    </div>
  </div>

  <ng-template #loaderBlock>
    <div class="loader">
      <app-loader size="2x" message="Loading raw file..."></app-loader>
    </div>
  </ng-template>

  <div class="modal file-info">
    <div class="modal-inner">
      <table>
        <tr>
          <th>Name</th>
          <td>{{fileInfo.name}}</td>
        </tr>
        <tr>
          <th>Size</th>
          <td>{{fileInfo.size | bytes}}</td>
        </tr>
        <tr>
          <th>Mimetype</th>
          <td>{{fileInfo.mimetype}}</td>
        </tr>
        <tr>
          <th>Encoding</th>
          <td>{{fileInfo.encoding}}</td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{fileInfo.created | date:"dd/MM/yy HH:mm z"}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-after">
    <a [routerLink]="directLink">Direct link</a>
  </div>

</div>

<ng-template #bigLoaderBlock>
  <app-loader size="3x" message="Loading file info..."></app-loader>
</ng-template>