@import "../../../vars";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  >.modal.file-info {
    margin-top: 36px;

    >.modal-inner {
      
      >table {
        tr {
          border-bottom: 1px solid $cLightGray;
  
          >th {
            font-weight: bold;
            text-align: left;
            padding-top: 8px;
            padding-bottom: 2px;
            padding-left: 8px;
          }
  
          >td {
            text-align: right;
            padding-right: 8px;
          }
        }
      }
    }
  }
}