<div class="modal">
  <div class="modal-inner">
    <form>
      <legend>Enter account credentials</legend>
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="input.username"
        #usernameEl
        [disabled]="!canSubmit || auth.isSignedIn"
      >
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="input.password"
        #passwordEl
        [disabled]="!canSubmit || auth.isSignedIn"
      >
      <div class="bottom-bar">
        <button
          (click)="onSubmit()" 
          [disabled]="!canSubmit || auth.isSignedIn"
        >
          Sign in
        </button>
        <button
          (click)="onCancel()"
          [disabled]="!canSubmit || auth.isSignedIn"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal-after">
    <p>Don't have an account?</p>
    <a [routerLink]="['../register']">Click here to register</a>
</div>