@import "../../../vars";

.wrapper {
  margin: 36px 0;

  >.modal {

    &:hover {
      cursor: pointer;
      background: $cLightGray;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    >.modal-inner {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      user-select: none;
      background: #fff;

      >.left, >.right {
        display: flex;
        align-items: center;
        font-size: .7em;

        >*:not(:last-child) {
          margin-right: 16px;
        }
      }

      >.left {
        flex: 1;
        padding-right: 16px;
        text-overflow: ellipsis;

        >.name {
          font-size: .9em;
        }
      }
    }
  }
}