<div class="wrapper">

  <div class="modal" *ngFor="let file of files" (click)="selectFile.emit(file.id)">
    <div class="modal-inner">

      <div class="left">
        <fa-icon *ngIf="isImage(file.mimetype)" icon="file-image" size="2x"></fa-icon>
        <fa-icon *ngIf="isAudio(file.mimetype)" icon="file-audio" size="2x"></fa-icon>
        <fa-icon *ngIf="isVideo(file.mimetype)" icon="file-video" size="2x"></fa-icon>
        <fa-icon *ngIf="isText(file.mimetype)" icon="file-alt" size="2x"></fa-icon>
        <fa-icon *ngIf="isUnknown(file.mimetype)" icon="file" size="2x"></fa-icon>
  
        <span class="name">{{fileNameWithoutExtension(file)}}</span>
      </div>

      <div class="right">
        <span>{{file.size | bytes}}</span>
        <span>{{file.created | date:"dd/MM/yy HH:mm z"}}</span>
      </div>
    </div>
  </div>

</div>